<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"> 
	<title>发起预约</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div class="weui-cells__title weui-label">基本信息</div>
	<div class="weui-cells weui-cells_form">		
	    <div class="weui-cell">
	        <div class="weui-cell__hd"><label class="weui-label">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题</label></div>
	        <div class="weui-cell__bd">
	            <input id="topic" class="weui-input" type="text" placeholder="请输入主题"/>
	        </div>
	    </div>

	    <div class="weui-cell">
	        <div class="weui-cell__hd"><label class="weui-label">人数限制</label></div>
	        <div class="weui-cell__bd">
	            <input id="peo-limit" class="weui-input" type="number" placeholder="10" readonly/>
	        </div>
	    </div>

	    <div class="weui-cell">
	        <div class="weui-cell__hd"><label class="weui-label">截止日期</label></div>
	        <div class="weui-cell__bd">
	            <input type="text" id='deadline' class="weui-input" style="border: 0px;" readonly/>
	        </div>
	    </div>

	    <div class="weui-cell weui-cell_switch">
	        <div class="weui-cell__bd">设置密码</div>
	        <div class="weui-cell__ft">
	            <input id="needed-password" class="weui-switch" type="checkbox" />
	        </div>
    	</div>

    	<div id="password-container" class="weui-cell">
	        <div class="weui-cell__hd"><label class="weui-label">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label></div>
	        <div class="weui-cell__bd">
	            <input id="password" class="weui-input" type="password" placeholder="请输密码"/>
	        </div>
	    </div>
	</div>

	<div class="weui-cells__title weui-label">活动描述</div>
	<div class="weui-cells weui-cells_form">
	    <div class="weui-cell">
	        <div class="weui-cell__bd">
	            <textarea id="desc" class="weui-textarea" placeholder="赶快加入吧！" rows="3"></textarea>
	            <div class="weui-textarea-counter"><span>0</span>/120</div>
	        </div>
	    </div>
	</div>
	<a id="submit" href="javascript:;" class="weui-btn weui-btn_primary" style="margin-top: 10px">快速发起</a>	
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script th:src="@{js/all.js}"></script>
<script type="text/javascript">

	$(document).ready(function (){
		init();
	});	

    function init(){
    	var deadline = $("#deadline");
    	var start = {
    		'min': getDate(),
    		'hours': ['11','12','13','14','15','16'],
    		'minutes': ['00', '15', '30', '45']
    	};
    	deadline.datetimePicker(start);
	    deadline.val(getTime());
		
		$("#peo-limit").picker({
		  title: "可参与人数",
		  cols: [
		    {
		      textAlign: 'center',
		      values: getNumToNumAray(1, 100)
		    }
		  ]
		});

	    $("#password-container").hide();
    }

</script>
</html>